@font-face {
    font-family: 'Hind';
    src: local('Hind SemiBold'), local('Hind-SemiBold'),
        url('./fonts/type/Hind-SemiBold.woff2') format('woff2'),
        url('./fonts/type/Hind-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: local('Hind Bold'), local('Hind-Bold'),
        url('./fonts/type/Hind-Bold.woff2') format('woff2'),
        url('./fonts/type/Hind-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: local('Hind Regular'), local('Hind-Regular'),
        url('./fonts/type/Hind-Regular.woff2') format('woff2'),
        url('./fonts/type/Hind-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: local('Hind Light'), local('Hind-Light'),
        url('./fonts/type/Hind-Light.woff2') format('woff2'),
        url('./fonts/type/Hind-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: local('Hind Medium'), local('Hind-Medium'),
        url('./fonts/type/Hind-Medium.woff2') format('woff2'),
        url('./fonts/type/Hind-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, :not(.videojs) {
	font-family: "Hind", sans-serif;
}
