.closing {
  &__nav {
    &.nav--previous {
      background: url(../assets/whoiswho-nav.jpg);
    }
  }

  &__section {
    position: relative;
    height: 85vh;
  }
  &__video {
    width: 100% !important;
    height: 100% !important;
  }
}
