.agenda {
  &__nav {
    &.nav--previous {
      background: url(../assets/mr-nav.jpg);
    }
    &.nav--next {
      background: url(../assets/whoiswho-nav.jpg);
    }
  }

  &__section {

    &__left {
      width: 49%;
      height: 100%;
      background: white;
      float: left;
      padding: 3rem;
      box-sizing: border-box;

      &__header {
        margin-bottom: 2rem;

        &__title {
          font-size: 6vw;
          font-weight: 500;
        }
      }

      &__item {
        padding: 1.4rem 1rem;
        font-size: 3.5vw;
        cursor: pointer;

        hr {
          display: none;
          border: 0;
          width: calc(50vw - 80px);
          color: green;
          background: green;
          height: 8px;
          margin-left: -2vw;
          margin-top: -1.6vw;
        }

        &--done {
          hr {
            display: block;
          }
        }

        &--active {
          font-weight: 700;
        }
      }
    }

    &__right {
      width: 51%;
      height: 102%;
      margin: 0;
      float: left;
      background-size: cover !important;
      background-position: center center !important;
      margin-top: -0.7vh;
      cursor: pointer;
      position: relative;

      &__content {
        display: none;
        height: 100%;
        width: 100%;

        &__onethird {
          height: 32.55%;
          width: 100%;
          background-size: cover !important;
          background-repeat: no-repeat !important;

          &.midden {
            border-top: 8px solid white;
            border-bottom: 8px solid white;
          }
        }

        &__half {
          height: 49.3%;
          width: 100%;
          background-size: cover !important;
          background-repeat: no-repeat !important;

          &.top {
            border-bottom: 10px solid white;
            margin-bottom: 37px;
          }

          &.bottom {
            margin-top: -4vh;
          }
        }
      }

      &__fullscreenbutton {
        background: url(/assets/fullscreen.svg);
        height: 3rem;
        width: 3rem;
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0.7rem;
        right: 1rem;
      }
    }
  }

  &__standpunten {
    &__video {
      width: 50vw;
      height: 46.7vh;
      float: left;
      background: black;
    }
    $standpunten-border: 4px solid white;
    #agenda-standpunt-1{
      border-right: $standpunten-border;
      border-bottom: $standpunten-border;
    }
    #agenda-standpunt-2{
      border-left: $standpunten-border;
      border-bottom: $standpunten-border;
    }
    #agenda-standpunt-3{
      border-right: $standpunten-border;
      border-top: $standpunten-border;
    }
    &--image {
      float: left;
      background: white;
      height: 47vh;

      border-left: $standpunten-border;
      border-top: $standpunten-border;

      img {
        width: 42vw;
        margin: 4rem;
      }
    }
  }

  &__bekendheid {
    &__video {
      width: 50vw;
      height: 46.7vh;
      float: left;
      background: black;
    }
    $standpunten-border: 4px solid white;
    #agenda-bekendheid-1{
      border-right: $standpunten-border;
      border-bottom: $standpunten-border;
    }
    .first{
      border-left: $standpunten-border;
      border-bottom: $standpunten-border;
    }
    .second{
      border-right: $standpunten-border;
      border-top: $standpunten-border;
    }
    .third{
      border-left: $standpunten-border;
      border-top: $standpunten-border;
    }
    &--image {
      float: left;
      background: white;

      &.first img {
        margin-top: 0;
      }

      img {
        box-sizing: border-box;
        width: 50vw;
        height: 46.8vh;
        margin-top: -1.1vh;
      }
    }
  }

  &__landelijk {
    background: url(../assets/agenda-landelijk.jpg);
    background-size: cover !important;
    background-position: center center !important;
    height: 100%;
    width: 100%;
    position: relative;

    &__lsvb, &__iso {
      height: 46.7vh;
      width: 100%;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 80vw;
      }
    }

    &__lsvb {
        border-bottom: 12px solid white;
    }

    &__iso {
      //
    }

    &__button {
      width: 10rem;
      margin: 1rem 0.5rem;
      padding: 0.4rem 0.8rem;
      margin-bottom: -0.3rem;
      position: absolute;
      bottom: 2vh;
      right: 11vw;
      font-size: 1.8rem;
      box-shadow: 1px 1px 4px 0px black;

      img {
        height: 1.5rem;
        margin-top: -0.1rem;
        margin-bottom: -0.2rem;
        margin-right: 0.1rem;
        margin-left: 3.2rem;
        float: right;
      }
    }
  }

  &__lagen {
    &__cmr, &__dmr, &__oc {
      height: 31.1vh;
      width: 100%;
    }

    &__cmr {
      background: url(../assets/agenda-lagen-cmr.jpg);
      background-size: cover !important;
      background-position: center center !important;
      position: relative;
    }

    &__dmr {
      background: url(../assets/agenda-lagen-dmr.jpg);
      background-size: cover !important;
      background-position: center center !important;
      border-bottom: 6px solid white;
      border-top: 6px solid white;
      position: relative;
    }

    &__oc {
      background: url(../assets/agenda-lagen-oc.jpg);
      background-size: cover !important;
      background-position: center center !important;
      position: relative;
    }

    &__button {
      width: 10rem;
      margin: 1rem 0.5rem;
      padding: 0.4rem 0.8rem;
      margin-bottom: -0.3rem;
      position: absolute;
      bottom: 2vh;
      right: 11vw;
      font-size: 1.8rem;
      box-shadow: 1px 1px 4px 0px black;

      img {
        height: 2rem;
        margin-top: 0.2rem;
        margin-bottom: -0.2rem;
        margin-right: 0.1rem;
        margin-left: 0;
        float: right;
      }
    }
  }
}
