.vjs-big-play-button {
  display: none !important;
}

.vjs-ended .vjs-poster {
  display: block !important;
}

.play-button {
  position: absolute;
  background: url(/assets/play.svg);
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  height: 290px;
  width: 280px;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  cursor: pointer;

  &--slideover {
    background-size: contain;
    height: 100px;
    width: 90px;
    top: 22.5vh;
  }

  &--agenda-standpunten {
    background-size: contain;
    height: 100px;
    width: 90px;
  }

  &--agenda-standpunten-1 {
    left: 25vw;
    top: 30vh;
  }

  &--agenda-standpunten-2 {
    left: 75vw;
    top: 30vh;
  }

  &--agenda-standpunten-3 {
    left: 25vw;
    top: 80vh;
  }

  &--agenda-standpunten-4 {
    left: 75vw;
    top: 80vh;
  }

  &--agenda-bekendheid-1 {
    left: 25vw;
    top: 30vh;
  }
}

.after-play-buttons {
  display: none;
  position: absolute !important;
  top: 70vh;
  right: 1vw;
  &__button {
    display: block;
    background: white;
    -webkit-box-shadow: 1px 1px 4px 0px black;
    box-shadow: 1px 1px 4px 0px black;
    margin: 1rem 0.5rem;
    padding: 0.4rem 0.8rem;
    color: black !important;
    font-size: 1.8rem;
    float: left;
    text-decoration: none;
  }
}
