.fakecursor {
  &__next {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10rem;
    height: 10rem;
    transform: translateX(-50%);

    &__click {
      position: absolute;
      left: 5vw;
      height: 7rem;
      width: 7rem;
      top: 2rem;
      background: url(../assets/tap.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__clock {
    position: fixed;
    top: 0;
    right: 3vw;
    width: 10rem;
    height: 10rem;
    transform: rotate(135deg);

    &__click {
      position: absolute;
      left: 5.5vw;
      bottom: 0;
      height: 7rem;
      width: 7rem;
      margin-top: -1rem;
      background: url(../assets/tap.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__whoiswho {
    position: fixed;
    top: 37vh;
    left: 52vw;
    width: 10rem;
    height: 10rem;

    &__click {
      position: absolute;
      left: 5vw;
      bottom: 1vh;
      height: 7rem;
      width: 7rem;
      background: url(../assets/tap.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
