.introduction {
  &__nav {
    &.nav--next {
      background: url(../assets/definition-nav.jpg);
      background-position: center center;
    }
  }
  &__section {
    position: relative;
    height: 85vh;
  }
  &__video {
    width: 100% !important;
    height: 100% !important;
  }
}
