.localmodal {
  display: none;
  height: 100vh;
  width: 110vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &__header {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    height: 4rem;
    width: 100%;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 4px white;

    &__name {
      font-size: 2rem;
      font-weight: 600;
      position: absolute;
      left: 50%;
      top: 1rem;
      transform: translateX(-100%);

      &--lagen {
        transform: translateX(-50%);
      }

      &--landelijk {
        transform: translateX(-75%);
      }
    }

    &__close {
      height: 2.2rem;
      width: 2.2rem;
      position: absolute;
      background: url(../assets/close.svg);
      background-repeat: no-repeat;
      top: 0.9rem;
      left: 1rem;
      cursor: pointer;
    }
  }

  &__content {
    background: white;
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
