.definition {
  &__nav {
    &.nav--previous {
      background: url(../assets/introduction-nav.jpg);
    }
    &.nav--next {
      background: url(../assets/mr-nav.jpg);
    }
  }
  &__section {
    position: relative;
    background: url(../assets/definition-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    img {
      width: 60vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
