.nav {
  width: 100vw;
  height: 15vh;
  box-sizing: border-box;
  background-size: cover !important;
  background-repeat: no-repeat;
  cursor: pointer;

  &--previous {
    border-bottom: 6px solid white;
  }

  &--next {
    border-top: 6px solid white;
  }
}
