.whoiswho {
  &__nav {
    &.nav--previous {
      background: url(../assets/agenda-nav.jpg);
    }
    &.nav--next {
      background: url(../assets/closing-nav.jpg);
    }
  }
  &__section {
    position: relative;
    background: url(../assets/groepsfoto-achtergrond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
