.clock {
  position: fixed;
  top: 7.5vh;
  right: 2.5vw;
  color: white;
  font-size: $s-f-clock;
  text-align: right;
  user-select: none;
  text-shadow: 1px 1px 4px black;
  cursor: pointer;

  &__menu {
    text-shadow: none;
    position: absolute;
    right: 0;
    display: none;
    &__item {
      display: block;
      background: white;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 1);
      margin: 0 0 0.5rem 0;
      padding: 0.8rem;
      color: black !important;
      font-size: $s-f-clock-menu;
      cursor: pointer;
    }
  }
}
