.mr {
  &__nav {
    &.nav--previous {
      background: url(../assets/definition-nav.jpg);
      background-position: center center;
    }
    &.nav--next {
      background: url(../assets/agenda-nav.jpg);
    }
  }
  &__section {
    position: relative;
  }
  &__video {
    width: 100% !important;
    height: 100% !important;
  }
}


// TODO: Add to tree
.mr__section__buttons {
  width: 10.5rem;
  margin-right: 1rem;
  margin-top: -12rem;
  display: none;

  &__button {
    width: 100%;
    margin-bottom: -0.3rem;

    &--zuyd {
      img {
        height: 2rem;
        margin-top: 0.2rem;
        margin-bottom: -0.2rem;
        margin-right: 0.1rem;
        margin-left: 0;
        float: right;
      }
    }
  }
}
