.slideover {
  background: white;
  height: 100%;
  width: 30vw;
  position: fixed;
  top: 0;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 99;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 1);

  &--left {
    left: -30vw;
  }

  &--right {
    right: -30vw;

    .slideover__header__close {
      margin-left: 24vw;
    }
  }

  &__video {
    width: 100% !important;
    height: 100% !important;
  }

  // &__video {
  //   width: 50vw;
  //   height: 46.7vh;
  //   float: left;
  //   background: black;
  // }
  // &--image {
  //   float: left;
  //
  //   img {
  //     width: 40vw;
  //     margin: 4rem;
  //   }
  // }

  &__header {

    &__close {
      background: url(../assets/cancel.svg);
      height: 2rem;
      background-repeat: no-repeat;
      width: 100%;
      z-index: 999;
      cursor: pointer;
    }

    &__square {
      height: 15vw;
      margin-bottom: 3.5rem;
      margin-top: 2rem;
    }

    &__name {
      // font-size: 2rem;
      font-size: 5vh;
      font-weight: 600;
      // margin-top: 0.5rem;
      margin-top: -3rem;
      padding: 1rem 0rem;
    }
  }

  &__content {
    // font-size: 1.2rem;
    font-size: 2.7vh;
    line-height: 1.6;
  }

  &__footer {
    margin-top: 1.5rem;

    &__button {
      display: block;
      background: white;
      -webkit-box-shadow: 1px 1px 4px 0px black;
      box-shadow: 1px 1px 4px 0px black;
      // margin: 1rem 0.5rem;
      margin: 0 0.5rem;
      padding: 0.8rem;
      padding-bottom: 0.7rem;
      color: black !important;
      // font-size: 1.2rem;
      font-size: 1.5rem;
      float: left;
      text-decoration: none;
    }
  }
}
